<html>

<head>
    <title>Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <script type="text/javascript" src="/libs/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../libs/bootstrap.css">
    <link rel="stylesheet" href="../libs/dataTables.bootstrap4.min.css">

    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/popper.min.js"></script>
    <script src="../libs/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/transaction.css">
</head>

<body>
    <div class="box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card1">
                    <div class="card-body">
                        <h5 class="card-title">Jonah</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Tomato</li>
                            <li class="list-group-item">Cassava</li>
                            <li class="list-group-item">Pear</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card2">
                    <div class="card-body">
                        <h5 class="card-title">Jonah</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Tomato</li>
                            <li class="list-group-item">Cassava</li>
                            <li class="list-group-item">Pear</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form col-sm-12">
                <form action="">
                    <div class="col-sm-12 text-center">
                        <h5 class="text-light">Select the number of quantity you want.</h5>
                        <p class="text-muted">Please read the <span><a href="">site's policy</a></span> to see how pricing
                            works</p>
                    </div>
                    <div class="form-group">
                         <input type="text" name="foodstuff" placeholder="foodstuff" class="form-control">
                    </div>
    
                    <div class="form-group">
                        <input type="text" name="quantity" placeholder="quantity" class="form-control">
                    </div>
                    <button class="btn btn-outline-light">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>