body{
    background-image : linear-gradient(to top right, red, black);
    background-position: center;
    background-size: cover;
}

.container{
    position: relative;
}

.container #form{
    top: 20;
    position: absolute;
    background: white;
    width: 88%;
    margin-left: 20%;
    margin: auto;
    border-radius: .5em;
    padding: 10px;
    align-items: center;
}

h2{
    margin-top: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.step-row{
    width: 90%;
    height: 40px;
    top: 20;
    margin-left: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
    transition: .2s linear;
    transition-property: width;
}

.step-col{
    text-align: center;
    width: 100%;
    position: relative;
    color: white;
}

#progress{
    position: absolute;
    height: 100%;
    width: 33%;
    background: linear-gradient(to right, red, black);
    animation: progress 4s 1;
}

@keyframes progress{
    0%{
        width: 0%;
    }
}

#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #0e0901;
}
